<header>
  <h1 class="heading">
    ようこそBookersへ！
  </h1>
<main>
  <div class="main-text">
    <b>Bookers</b> では、さまざまな書籍に関するあなたの意見や
  </div>
  <div class="main-text">
    印象を共有し交換することができます
  </div>
   <div class="main-text">
    <a href="books">
      <u>start</u>
  </div>
